<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>信息检索大作业</title>
    {% load staticfiles %}
<link rel="stylesheet" href="{% static "css/common.css" %}"/>
<script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
<style>#wimoban_p,#wimoban_p a{color:#fff; font-family:"微软雅黑";}
#wimoban_p{text-align:center; font-size:14px; clear:both;}
</style>
</head>
<body oncontextmenu='return false' ondragstart='return false'>
<div id="wrapper">

	<div class="skinBg" style="background-image: url('{% static "images/65.jpg" %}');"></div>
	<header id="header">	</header>
	<div class="content tc">
		<p class="logo"><img width="600" height="300" src="{% static "images/logo_white.png" %}" alt="logo" /></p>
		<div class="searchBox">
			<form method="get"  id="form_main" action="answer">
				<input type="text" class="searchIpt f14" name="url" id="url" maxlength="100" autocomplete="off"/>
				<input type="submit" class="btn cp" value="分类" />
			</form>
		</div>
	</div>
</div>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.autocomplete.min.js" %}"></script>
<script>
	$('.uname,.topMenus').hover(function(){
		$('.topMenus').stop(true,true).fadeIn(200);
	},function(){
		$('.topMenus').stop(true,true).delay(500).fadeOut(200);
	});

	//搜索框自动补全;
	$('.searchIpt').AutoComplete({
		'data': ['About Me', '审美网', 'abcdefg', 'One', 'Two', 'Three', 'Four', 'Five', 'Six','smwell.com', 'Seven', 'Eight', 'Nine', 'Ten', 'Eleven', 'Twelve'],
		'itemHeight': 24,
		'width': 529
	}).AutoComplete('show');

	$('.ctnerTab a').click(function(){
		if(!$(this).hasClass('on')){
			$('.ctnerTab a').removeClass('on').eq($(this).index()).addClass('on');
			$('.rtNavs').stop(true,true).hide(200).eq($(this).index()).show(300);
		}
	});

	$('.menusWrapper a').click(function(){
		if(!$(this).hasClass('active')){
			$('.menusWrapper a').removeClass('active').eq($(this).index()).addClass('active');
			$('.cbox').stop(true,true).animate({top:318},100).hide().eq($(this).index()).animate({top:0},400).show();
		}
	});

	$('.smallPics a').click(function(){
		if(!$(this).hasClass('active')){
			$('.smallPics a').removeClass('active').eq($(this).index()).addClass('active');
			$('.picLink').stop(true,true).removeClass('active').eq($(this).index()).addClass('active');
		}
	});

	$('.titleT').hover(function(){
		if(!$(this).hasClass('on')){
			$('.titleT').removeClass('on').eq($(this).index()).addClass('on');
			$('.topicB').stop(true,true).hide().eq($(this).index()).show();
		}
	});
</script>
<!-- 代码结束 -->
</body>
</html>